{
  "jsc": {
    "transform": {
      "react": {
        "runtime": "automatic",
        "throwIfNamespace": true,
        "importSource": "@emotion/react"
      }
    },
    "parser": {
      "syntax": "typescript",
      "tsx": true,
      "decorators": false,
      "dynamicImport": false
    }
  },
  "minify": true
}