@font-face {
  font-family: 'NotoKrL';
  font-style: normal;
  font-weight: 100;
  src: local('Noto Sans Light'), local('NotoSans-Light'), url(/fonts/notokr-demilight.eot);
  src: url(/fonts/notokr-demilight.eot) format('embedded-opentype'),
    url(/fonts/notokr-demilight.woff2) format('woff2'), url(/fonts/notokr-demilight.woff) format('woff');
}

@font-face {
  font-family: 'NotoKrR';
  font-style: normal;
  font-weight: 300;
  src: local('Noto Sans Regular'), local('NotoSans-Regular'), url(/fonts/notokr-regular.eot);
  src: url(/fonts/notokr-regular.eot) format('embedded-opentype'),
    url(/fonts/notokr-regular.woff2) format('woff2'), url(/fonts/notokr-regular.woff) format('woff');
}

@font-face {
  font-family: 'NotoKrM';
  font-style: normal;
  font-weight: 500;
  src: local('Noto Sans Medium'), local('NotoSans-Medium'), url(/fonts/notokr-medium.eot);
  src: url(/fonts/notokr-medium.eot) format('embedded-opentype'),
    url(/fonts/notokr-medium.woff2) format('woff2'), url(/fonts/notokr-medium.woff) format('woff');
}

@font-face {
  font-family: 'NotoKrB';
  font-style: normal;
  font-weight: 700;
  src: local('Noto Sans Bold'), local('NotoSans-Bold'), url(/fonts/notokr-bold.eot);
  src: url(/fonts/notokr-bold.eot) format('embedded-opentype'),
    url(/fonts/notokr-bold.woff2) format('woff2'), url(/fonts/notokr-bold.woff) format('woff');
}